# ports
PORT_LINE_BOT_SERVER=15000
PORT_DB=15432

# line-bot-server
BASE_URL=https://HOST_NAME:PORT_LINE_BOT_SERVER
LINE_CHANNEL_ACCESS_TOKEN=YOUR_CHANNEL_ACCESS_TOKEN
LINE_CHANNEL_SECRET=YOUR_CHANNEL_SECRET

# db
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME

# Google Calendar
GOOGLE_SERVICE_ACCOUNT_CRED_FILE=google_service_account_cred-*.json
GOOGLE_CALENDAR_ID=YOUR_CALENDAR_ID@group.calendar.google.com
GOOGLE_CALENDAR_SYNC_MIN_TIME=YYYY-MM-DD

# Notion
NOTION_TOKEN=ntn_YOUR_NOTION_TOKEN
NOTION_DATABASE_ID=YOUR_NOTION_DATABASE_ID
NOTION_SYNC_MIN_TIME=YYYY-MM-DD
