# line-bot-server
BOT_DOMAIN=bookingbot.YOUR_DOMAIN
SITE_DOMAIN=YOUR_DOMAIN
APP_TIMEZONE=Asia/Taipei
LINE_CHANNEL_ACCESS_TOKEN=YOUR_CHANNEL_ACCESS_TOKEN
LINE_CHANNEL_SECRET=YOUR_CHANNEL_SECRET
LINE_BROADCAST_GROUP_ID=YOUR_GROUP_ID
LINE_ADMIN_USER_IDS=ADMIN_USER_ID_1,ADMIN_USER_ID_2
LINE_EVENT_LOGGING=false

# db
DB_HOST=YOUR_DB_HOST
DB_PORT=5432
DB_CONNECT_TIMEOUT=5
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME
DB_SSLMODE=
DB_SSLROOTCERT=

# Google Calendar
GOOGLE_SERVICE_ACCOUNT_CRED_FILE=/app/secrets/google_service_account.json
GOOGLE_CALENDAR_ID=YOUR_CALENDAR_ID@group.calendar.google.com
GOOGLE_CALENDAR_SYNC_MIN_TIME=YYYY-MM-DDThh:mm:ss

# Notion
NOTION_TOKEN=ntn_YOUR_NOTION_TOKEN
NOTION_DATABASE_ID=YOUR_NOTION_DATABASE_ID
NOTION_SYNC_MIN_TIME=YYYY-MM-DDThh:mm:ss

# Property
PROPERTY_NAME=YOUR_PROPERTY_NAME
BANK_ACCOUNT_INFO=YOUR_BANK_ACCOUNT_INFO
PUBLIC_BOOKING_DISCOUNT_PER_ROOM_NIGHT=100
