.env*
!.env.template
!.env.local.template
**/.DS_Store
scheduler/data/*
**/google_service_account_cred-*.json
**/__pycache__
certs/*
!certs/.gitkeep
secrets/*
!secrets/.gitkeep
backup/*
!backup/.gitkeep
