{$BOT_DOMAIN} {
  encode gzip zstd
  reverse_proxy line-bot-server:5000
}

{$SITE_DOMAIN} {
  encode gzip zstd

  handle /api/public/* {
    reverse_proxy line-bot-server:5000
  }

  handle {
    reverse_proxy fullybnb-site:80
  }
}
